/* //Company */

.company {
    display: flex;
    width: 100%;
    position: relative;
}

.company_image {
    width: 100%;
    position: relative;
}



.company_image_mySlides {
    display: none;
    width: 100%;
    height: var(--hgt-img-home);
    object-fit: cover;
    animation: animation_slider 0.5s ease-in;
}


@keyframes animation_slider {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* Next & previous buttons */
.company_btn_prev,
.company_btn_next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */
.company_btn_next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.company_btn_prev:hover,
.company_btn_next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/*Text on the image*/
.company_image_text {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%);
    /* padding-inline: 0.5rem; */
    font-size: xx-large;
    font-weight: bolder;
    /* color: var(--clr-white); */
    /* text-shadow: 1px 1px 2px black, 0 0 1em var(--clr-blue-dark), 0 0 0.2em var(--clr-blue-dark); */
    text-align: center;
    animation: animation_slider_text 0.5s ease-in;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    display: none;
    color: transparent;
}

@media (max-width: 481px) {
    .company_image_text {
        font-size: 1.25rem;
    }
}

@keyframes animation_slider_text {
    0% {}

    100% {
        color: var(--clr-white);
        text-shadow: 1px 1px 2px black, 0 0 1em var(--clr-blue-dark), 0 0 0.2em var(--clr-blue-dark);
    }
}

/*Box overlay*/

.company_overlay {
    /*width: var(--wdt-img-home-overlay);
    height: var(--hgt-img-home-overlay);*/
    padding-block: var(--pad-block);
    position: absolute;
    top: calc(var(--hgt-img-home) - 85px);
    right: 0;
    left: 0;
    /*left: calc(50% - var(--wdt-img-home-overlay)/2);*/
    /* right: calc(100vw/2); */
    /* transform: translateX(50%); */
    margin-inline: 30px;
    /*transform: translateX(var(--wdt-img-home));*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.company_overlay_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    box-shadow: 0px 2px 5px var(--clr-blue-light);
    border-radius: 1px;
    padding-inline: 1.2rem;
    padding-block: 0.5rem;
    max-width: 250px;
    height: 250px;
}



/* For fonawesome icon */
.company_overlay_box > span {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.company_overlay_text {
    font-size: 0.75rem;
    text-align: justify;
}

@media (max-width: 1024px) {
    .company_overlay_box>span {
        font-size: 2.5rem;
    }
    .company_overlay_text {
        font-size: 0.7rem;
    }
    .company_overlay_box {
        max-width: 170px;
    }
  
}




.company_overlay_box_blue {
    background-color: var(--clr-white);
    color: var(--clr-blue);
}
.company_overlay_box_white{
    color: var(--clr-white);
    background-color: var(--clr-blue);
}
.company_overlay_box_darker {
    color: var(--clr-white);
    background-color: var(--clr-blue_darker_1);
}

.company_space_home_specialities{
    margin-top: 250px;
}

@media (max-width: 640px) {

    .company_space_home_specialities {
        margin-top: 750px;
    }
    .company_overlay {
        display: flex;
        flex-direction: column;
    }
}


.company_specialities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.company_specialities_title{
    font-size: medium;
    text-align: center;
    margin-bottom: 20px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    margin-inline: 2rem;
    border-radius: 1px;
    background-color: var(--clr-blue-dark);
    color:white;
    cursor: pointer;
}


.company_specialities_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 20px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    margin-inline: 0.5rem;
    /* border-radius: 5px; */
    background-color: var(--clr-blue-dark);
    color: var(--clr-white);
    text-align: center;
}

.company_specialities_title_2 {
    color: var(--clr-blue-dark);
    display: flex;
    justify-content: center;
    margin-inline: 2rem;
    font-size: x-large;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Montserrat';
}

@media (max-width: 640px) {

    .company_specialities_title {
        font-size: medium;
    }
    .company_specialities_title_2 {
        font-size: medium;
    }
    .company_specialities_item {
        font-size: x-small;
    }
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.company_leader_{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

/*Tilte*/
.company_leader > h3 {
    font-size: xx-large;
    text-align: center;
    border-bottom: 1px solid var(--clr-blue-dark);
    margin-bottom: 5rem;
}

.company_leader_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 1rem;
    max-width: 600px;
    flex-grow: 1;
}

@media (max-width: 769px) {
    .company_leader_info {
        gap: 2rem;
        padding-inline: 1rem;
        max-width: 80%;
    }
}


/* Leader Name */
.company_leader_info > div > h3{
    font-size: 2.5rem;
    color: var(--clr-blue);
    margin-bottom: 1rem;
}

.company_leader_info>div>h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--clr-blue-dark);
    border-top: 8px solid var(--clr-blue-dark);
}


.company_leader_info>div>span>.icon {
    font-size: 1rem;
    margin-right: 0.5rem;
}

/* Company name */
.company_leader_info>div>h5 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--clr-blue-dark);
    border-bottom: 2px solid var(--clr-blue-dark);
    margin-bottom: 1rem;
}

.company_leader_info>div>p {
    text-align: justify;
    font-size: 0.90rem;
}

.company_leader_info_last {
    padding-bottom: 1rem;
    border-bottom: 8px solid var(--clr-blue-dark);
}

.company_leader_bottom{
    margin-block: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-inline: 8rem;
}

@media (max-width: 769px) {
    .company_leader_bottom {
        margin-block: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-inline: 1rem;
    }
    .company_leader_bottom > p{
        
        max-width: 80%;
    }
}

.company_leader_boxes{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .company_leader_boxes {
        margin-block: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-inline: 0.25rem;
    }
}

.company_leader_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.90rem;
    text-align: justify;
    gap: 0.25rem;
    box-shadow: 0px 2px 5px var(--clr-blue-light);
    border-radius: 1px;
    padding-inline: 1.2rem;
    padding-block: 0.5rem;
    max-width: 200px;
    height: 300px;
}

.company_leader_box>span {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.company_leader_bottom>p {
    font-size: 0.85rem;
    text-align: justify;
    border-left: 1px solid var(--clr-blue-dark);
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    background-color: var(--clr-gray-lighter);
}
